<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--  Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<title>AddBook</title>
</head>
<body>
	<div class="col-sm-5">
  		<div class="page-header">
  			<h1>Addbook</h1>
  		</div>
  		<form method="post" th:action="@{/addBook}" th:object="${addBookForm}">
		<table class="table table-bordered table-hover">
			<tr>
				<th class="active col-sm-3">Book_ID</th>
				<td>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{bookId}"/>
				</div>
				</td>
			</tr>
			<tr>
				<th class="active">タイトル</th>
				<td>
				<div class="form-group">
					<input type="text" class="form-control"  th:field="*{title}"/>
				</div>
				</td>
			</tr>
			<tr>
				<th class="active">著者名</th>
				<td>
				<div class="form-group">
					<input type="text" class="form-control"  th:field="*{author}"/>
				</div>
				</td>
			</tr>
		</table>
		<button class="btn btn-primary" type="submit">AddBook</button>
  		</form>
  	</div>
</body>
</html>