<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--  Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<!--  CSSの読込 -->
	<link th:href="@{/css/home.css}" rel="stylesheet"></link>
<title>BookList</title>
<body>
	<div th:fragment="bookList_contents">
		<div class="page-header">
			<h1>ユーザー一覧</h1>
		</div>
		<table class="table table-bordered teble-hover table-striped " style="width: 50%;">
			<tr>
				<th class="info col-sm-2">BookId</th>
				<th class="info col-sm-2">Title</th>
				<th class="info col-sm-2">Author</th>
				<th class="info col-sm-2">&nbsp;</th>
			<tr th:each="book : ${bookList}">
				<td th:text="${book.bookId}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td>
					<a class="btn btn-warning" th:href="@{'/updateBook'}">更新</a>
					<a class="btn btn-danger" th:href="@{'/deleteBook'}">削除</a>
				</td>
			</tr>
		</table>
		<a class="btn btn-primary"  th:href="@{'/addBook'}">登録</a>
	</div>
</body>
</html>